{template 'common/header'}

<ul class="nav nav-tabs">
      <li {if $operation == 'list'} class="active" {/if}><a href="{php echo  $this->createWebUrl('activity', array('op'=>'list'));}">活动列表</a></li>
       <li {if $operation == 'add'} class="active" {/if}><a href="{php echo  $this->createWebUrl('activity', array('op'=>'add'));}">活动添加</a></li>
        <li {if $operation == 'edit'} class="active" {/if}><a>活动信息修改</a></li>
</ul>
<div class="clearfix"> 
    <form id="theform" class="form form-horizontal" action="{php echo  $this->createWebUrl('activity', array('op'=>'update'));}" method="post">
    
        <div class="panel panel-default">
            <div class="panel-heading">
               活动信息修改
            </div>
          {template 'common/load'}
                <div class="form-group" style="padding-top: 20px;">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动主题</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="name" value="{$activity_edit['name']}" class="form-control">
                    </div>
                </div>
                <input type="hidden" name="id" value="{$activity_edit['id']}">
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动内容</label>
                    <div class="col-sm-9 col-xs-12">
                         {php echo tpl_ueditor('content',$activity_edit['content']);}
                    </div>
                </div>
               
                <!--  <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动开始时间</label>
                    <div class="col-sm-9 col-xs-12">
                  
                      {php echo tpl_form_field_daterange('datelimit', array('start'=>date('Y-m-d H:i',$activity_edit['starttime']),'end'=>date('Y-m-d H:i',$activity_edit['endtime'])), true)}
                    </div>
                </div> -->
                
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">活动宣传图</label>
                    <div class="col-sm-9 col-xs-12">
                      {php echo tpl_form_field_image('picture',$activity_edit['picture']);}
                    </div>
                 </div>
                   <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">申报类型</label>
                     <div class="col-sm-9 col-xs-12" style="position: relative;
    top: 6px;">
                     <input type="radio" name="status" value="1" {if $activity_edit['status'] == 1} checked {/if} >
                     禁用
                     <input type="radio" name="status" value="0" {if $activity_edit['status'] == 0} checked {/if} >启用
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-md-2 col-lg-1">
                        <input name="submit" type="submit" value="修改" class="btn btn-primary btn-block">
                        <input type="hidden" name="token" value="85616f84">
                    </div>
                </div>
                
            </div>
            
        </div>
    </form>
</div>