{template 'common/header'}
<style type="text/css">
    #a{

        position: relative;top: 8px;

            }
</style>
<ul class="nav nav-tabs">
       
        <li {if $operation == 'list'} class="active" {/if}><a href="{php echo  $this->createWebUrl('indent', array('op'=>'list'));}">已完成订单列表</a></li>
        <li {if $operation == 'fail'} class="active" {/if}><a href="{php echo  $this->createWebUrl('indent', array('op'=>'fail'));}">分配失败订单列表</a></li>
         <li class="active" ><a>分配失败订单修改</a></li>
         
</ul>
<div class="clearfix"> 
    <form id="theform" class="form form-horizontal" action="{php echo  $this->createWebUrl('allot', array('op'=>'update'));}" method="post">
    
        <div class="panel panel-default">
            <div class="panel-heading">
                分配失败订单修改
            </div>
            {template 'common/load'}
            <div class="panel-body">
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">申报人姓名</label>
                    <div class="col-sm-9 col-xs-12" id="a">
                        {$allot_edit['name']}
                    </div>
                </div>
                
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">申报人电话</label>
                    <div class="col-sm-9 col-xs-12" id="a">
                        {$allot_edit['phone']}
                    </div>
                </div>
        
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">申报人所在小区</label>
                    <div class="col-sm-9 col-xs-12" id="a">
                       {$allot_edit['plat']}
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">申报类型</label>
                     <div class="col-sm-9 col-xs-12"  id="a">
                    {if $allot_edit['type'] == 0}
                                <span style="color: green;">报装 </span> 
                            {elseif $allot_edit['type'] == 1}
                                <span style="color: #428BCA;">报修 </span>
                             
                            {/if}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">推荐来源</label>
                     <div class="col-sm-9 col-xs-12"  id="a">
                    {if $allot_edit['come'] == 0}
                                <span style="color: green;">员工推荐 </span> 
                            {elseif $allot_edit['come'] == 1}
                                <span style="color: #428BCA;">客户推荐 </span>
                             {elseif $allot_edit['come'] == 2}
                                <span style="color: #D9534F;">客服后台添加 </span>
                            {/if}
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">订单状态</label>
                     <div class="col-sm-9 col-xs-12"  id="a">
                     {if $allot_edit['status'] == 4}
                                <span class="label label-success">已分配 </span> 
                            {elseif $allot_edit['status'] == 1}
                                <span class="label label-warning" >处理中 </span>
                             {elseif $allot_edit['status'] == 2}
                                <span class="label label-warning" >分配失败 </span>
                               {elseif $allot_edit['status'] == 3}
                                <span class="label label-warning" >订单完成 </span>
                                {elseif $allot_edit['status'] == 0}
                                <span class="label label-warning" >订单未做任何处理 </span>
                                {elseif $allot_edit['status'] == 5}
                                <span class="label label-warning" style="background: red;" >维修工拒绝接单 </span>
                            {/if}
                    </div>
                </div>
                {if $allot_edit['status'] == 5}
                     <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">维修工拒绝接单原因</label>
                    <div class="col-sm-9 col-xs-12" id="a">
                      {$allot_edit['refuse']}
                    </div>
                </div>
                {/if}
                <input type="hidden" name="id" value="{$allot_edit['id']}">
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">故障详情</label>
                    <div class="col-sm-9 col-xs-12" id="a">
                      {$allot_edit['details']}
                    </div>
                </div>
               <!--  <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">分配维修工的姓名</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="name" value="" class="form-control">
                    </div>
                </div>
                
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">分配维修工的电话</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="tel" name="phone" value="" maxlength="11" class="form-control">
                    </div>
                </div> -->
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">分配维修工的班组ID</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="tid" value="" class="form-control" style="width:250px">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-md-2 col-lg-1">
                        <input name="submit" type="submit" value="分配" class="btn btn-primary btn-block">
                        <input type="hidden" name="token" value="85616f84">
                    </div>
                </div>
                
            </div>
            
        </div>
    </form>
</div>