{template 'common/header'}

<ul class="nav nav-tabs">
      <li {if $operation == 'list'} class="active" {/if}><a href="{php echo  $this->createWebUrl('interact', array('op'=>'list'));}">优惠活动列表</a></li>
       <li {if $operation == 'add'} class="active" {/if}><a href="{php echo  $this->createWebUrl('interact', array('op'=>'add'));}">优惠活动添加</a></li>
        <li {if $operation == 'boss_list'} class="active" {/if}><a href="{php echo  $this->createWebUrl('interact', array('op'=>'boss_list'));}">公司招聘信息列表</a></li>
       <li {if $operation == 'boss_add'} class="active" {/if}><a href="{php echo  $this->createWebUrl('interact', array('op'=>'boss_add'));}">公司招聘信息添加</a></li>
</ul>
<div class="clearfix"> 
    <form id="theform" class="form form-horizontal" action="{php echo  $this->createWebUrl('interact', array('op'=>'boss_add'));}" method="post">
	
        <div class="panel panel-default">
            <div class="panel-heading">
               公司招聘信息添加
            </div>
           {template 'common/load'}
                <div class="form-group" style="padding-top: 20px;">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"> 公司招聘主题</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="name" value="" class="form-control">
                    </div>
                </div>
                 <div class="form-group" style="padding-top: 50px">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">公司招聘信息内容</label>
                    <div class="col-sm-9 col-xs-12">
                         {php echo tpl_ueditor('content');}
                    </div>
                </div>
               
               <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">状态</label>
                    <div class="col-sm-9 col-xs-12" style="position: relative;
    top: 6px;">
                     <input type="radio"  name="status" value="0" checked>启用
                     <input type="radio"  name="status" value="1">下架
                    </div>
                 </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-md-2 col-lg-1">
                        <input name="submit" type="submit" value="添加" class="btn btn-primary btn-block">
                        <input type="hidden" name="token" value="85616f84">
                    </div>
                </div>
				
            </div>
			
        </div>
    </form>
</div>