{template 'common/header'}
<style type="text/css">
  .col-sm-9{
    padding-top:7px;
  }
</style>
<ul class="nav nav-tabs">
     <li {if $operation == 'list'} class="active" {/if}><a href="{php echo  $this->createWebUrl('broadband', array('op'=>'list'));}">宽带信息列表</a></li>
        {if $admin['move'] == 1}
       <li {if $operation == 'add'} class="active" {/if}><a href="{php echo  $this->createWebUrl('broadband', array('op'=>'add'));}">宽带信息添加</a></li>
       {/if}
        
        <li {if $operation == 'photo_list'} class="active" {/if}><a href="{php echo  $this->createWebUrl('broadband', array('op'=>'photo_list'));}">宽带宣传图列表</a></li>
        {if $admin['move'] == 1}
       <li {if $operation == 'photo_add'} class="active" {/if}><a href="{php echo  $this->createWebUrl('broadband', array('op'=>'photo_add'));}">宽带宣传图添加</a></li>
       {/if}
         <li lass="active"><a>宽带宣传图详情</a></li>
</ul>
<div class="clearfix"> 
    <form id="theform" class="form form-horizontal" method="post">
  
        <div class="panel panel-default">
            <div class="panel-heading">
                宽带宣传图详情
            </div>
            {template 'common/load'}
            <div class="panel-body">
                
               <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">宽带宣传主题</label>
                    <div class="col-sm-9 col-xs-12">
                      {$photo_details['name']}
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">宽带宣传图详情</label>
                    <div class="col-sm-9 col-xs-12">
                      {$photo_details['content']}
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">状态</label>
                    <div class="col-sm-9 col-xs-12">
                    
                           {if $photo_details['status'] == 0}
                                <span class="label label-success">已启用 </span> 
                            {elseif $photo_details['status'] == 1}
                                <span class="label label-warning" >已停用 </span>
                            
                            {/if}
                    </div>
                 </div>
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">添加时间</label>
                    <div class="col-sm-9 col-xs-12">
                      {$photo_details['time']}
                    </div>
                 </div>
        
            </div>
      
        </div>
    </form>
</div>