{template 'common/header'}

<ul class="nav nav-tabs">
       <li {if $operation == 'list'} class="active" {/if}><a href="{php echo  $this->createWebUrl('question', array('op'=>'list'));}">常见问题列表</a></li>
       <li {if $operation == 'add'} class="active" {/if}><a href="{php echo  $this->createWebUrl('question', array('op'=>'add'));}">常见问题添加</a></li>
         <li {if $operation == 'type_add'} class="active" {/if}><a href="{php echo  $this->createWebUrl('question', array('op'=>'type_add'));}">常见问题分类添加</a></li>
</ul>
<div class="clearfix"> 
    <form id="theform" class="form form-horizontal" action="{php echo  $this->createWebUrl('question', array('op'=>'type_add'));}" method="post">
	
        <div class="panel panel-default">
            <div class="panel-heading">
              常见问题分类添加
            </div>
           {template 'common/load'}
              
                 <div class="form-group" style="padding-top: 50px">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">分类名称</label>
                    <div class="col-sm-9 col-xs-12">
                         <input type="text" name="name" value="" class="form-control">
                    </div>
                </div>
                 <div class="form-group" style="padding-top: 50px">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">分类简介</label>
                    <div class="col-sm-9 col-xs-12">
                         {php echo tpl_ueditor('content');}
                    </div>
                </div>
               
            
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-md-2 col-lg-1">
                        <input name="submit" type="submit" value="添加" class="btn btn-primary btn-block">
                        <input type="hidden" name="token" value="85616f84">
                    </div>
                </div>
				
            </div>
			
        </div>
    </form>
</div>