{template 'common/header'}
<style type="text/css">
  .col-sm-9{
    padding-top:7px;
  }
</style>
<ul class="nav nav-tabs">
     <li {if $operation == 'list'} class="active" {/if}><a href="{php echo  $this->createWebUrl('interact', array('op'=>'list'));}">优惠活动列表</a></li>
        {if $admin['move'] == 1}
       <li {if $operation == 'add'} class="active" {/if}><a href="{php echo  $this->createWebUrl('interact', array('op'=>'add'));}">优惠活动添加</a></li>
       {/if}
         <li {if $operation == 'details'} class="active" {/if}><a>优惠活动详情</a></li>
          <li {if $operation == 'boss_list'} class="active" {/if}><a href="{php echo  $this->createWebUrl('interact', array('op'=>'boss_list'));}">公司招聘信息列表</a></li>
        {if $admin['move'] == 1}
       <li {if $operation == 'boss_add'} class="active" {/if}><a href="{php echo  $this->createWebUrl('interact', array('op'=>'boss_add'));}">公司招聘信息添加</a></li>
       {/if}
</ul>
<div class="clearfix"> 
    <form id="theform" class="form form-horizontal" method="post">
  
        <div class="panel panel-default">
            <div class="panel-heading">
                优惠活动详情
            </div>
            {template 'common/load'}
            <div class="panel-body">
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">优惠活动主题</label>
                    <div class="col-sm-9 col-xs-12">
                        {$work_details['name']}
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">优惠活动内容</label>
                    <div class="col-sm-9 col-xs-12">
                      {$work_details['content']}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">优惠活动宣传图</label>
                    <div class="col-sm-9 col-xs-12">
                     <img width="50%" src="/attachment/{$work_details['photo']}">
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">状态</label>
                    <div class="col-sm-9 col-xs-12">
                    
                           {if $work_details['status'] == 0}
                                <span class="label label-success">已启用 </span> 
                            {elseif $work_details['status'] == 1}
                                <span class="label label-warning" >已停用 </span>
                            
                            {/if}
                    </div>
                 </div>
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">添加时间</label>
                    <div class="col-sm-9 col-xs-12">
                      {$work_details['time']}
                    </div>
                 </div>
        
            </div>
      
        </div>
    </form>
</div>